<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>App Component is here!!!!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque consequuntur consectetur nulla fugit harum porro dolorem quibusdam, itaque id sed omnis sequi voluptatum saepe in nostrum debitis dolores tempora! Iusto non eligendi nesciunt!</p>
      <!-- <button class = "btn btn-primary"
        (click)="showSecret = !showSecret">Display Details</button> -->
      <button class = "btn btn-primary"
      (click)="onToggleDetails()">Display Details</button>  
      <p *ngIf = "showSecret">Secret</p>
      <div *ngFor="let logItem of log"
        [ngStyle]="{backgroundColor: logItem%2 == 0 ? 'yellow' : 'pink'}"
        [ngClass]="{'white-text': logItem >= 5}"
        >{{ logItem }}</div>
    </div>
  </div>
</div>